%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %ul.nav.navbar-nav
        %li{class: "#{controller_name == 'departments' ? 'active' : ''}"}= link_to "Departments", departments_path

        %li{class: "#{controller_name == 'employees' ? 'active' : ''}"}= link_to "Employees", departments_path
